html {
    scroll-behavior: smooth;
  }
.central{
    max-width: 1280px;
    margin: 0 auto;
   
}
*{
    background-color: rgba(114, 108, 108, 0.692);
    margin: 0px;
    padding: 0px;
  }
  .header-left{
    width: 25%;
  }
  .header-right{
    position: relative;
    width: 75%;
    height:40%
  }
  .portrait-box{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: rgba(193, 192, 201, 0.658);
    position: relative;
  }
.portrait{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}
.contacts{
    background-color: aqua;
}
.nav {
  width:1280px;
  margin: 0 auto;
}

.nav:before{
  content:''; 
  display:block;
  height:50px;
  width:100%;
  background:#000;
  position:absolute;
  left:0;
  z-index:-1;
}

.nav-list{
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
}

ul li{
  float:left;
}

ul li a{
  color:rgb(242, 245, 100);
  display:block;
  height:50px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
}

ul li a:hover{
  background:#010301;
}